<div class="col-12">
  <h1>Our Book Collection</h1>

  <div class="well">
    <% @books.each do |book| %>
      <ul><%= book.title %></ul>
    <% end %>
  </div>
</>

<div class="well">
  <%= link_to "Add NewBook", new_book_path, class: 'btn btn-defaults' %>
</div>
